*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
    color: yellow;
    font-family: "Gill Sans", "Gill Sans MT";
    font-size: 24px;
}

header>img{
    height: 100px;
}

header{
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    align-items: center;
    
}
