<head>
<body>
    <header>
        <div class="container sredna">
            <img src="logo.jpg" alt="Brzi fast food">
            <h3>najbrza dostava u gradu!!!!!!!!!!!</h3>
        </div>

    </header>
    <div class="continer sredina">
        <h2>{{ naslov }}</h2>
        <p>{{spisak}}</p>
        <ul>
            {% for stavka in spisak%}
                <li><a href="/restoran">{{stavka}}</a></li>
                {% enfdfor %}
        </ul>
    </div>
</main>
<footer>
    <div class="container sredina"
        <h4>Brzi doo, Leskovac</h4>
        <h4>Proleterska 34</h4>
        <h4>055 256 256</h4>
    </div>
</footer>
</body>
</html>
