  data = """<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width,
initial-scale=1.0">
   <meta http-equiv= "X-UA-Compatible" content="ie=edge">
   <title>Document</title>
   <link rel="stylesheet" href="static/style.css">
</head>
<body>
   <h1>Meni brt</h1>
   <h1>Restoran brt</h1>
   <h3>{{ naziv }}</h3>
   <p>{{spisak}}</p>
  <ul>
        {% for stavka in spisak %}
          <li>{{ stavka }}</li>
        {% endfor %}
      </ul>
</div>
  </main>
  <footer>
    <div class="container sredina">
      <h6>Brzi doo, Leskovac</h6>
      <h6>Vojvode putnika 10</h6>
      <h6>064 355 6767</h6>
    </div>
  </footer>
</body>
</html>
